#anchorCentral{
    -fx-background-color: #292e37;
}

#paneLateral{
    -fx-background-color: #ebeaed;
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#btLogin{
    -fx-background-color: #accbe8;
	-fx-background-radius: 5em;
	-fx-border-radius: 5em;
    -fx-border-color:  #e1e1e1;
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#tfLogin, #pfSenha{
    -fx-text-fill: #292e37;
    -fx-text-size: 20px;
    -fx-background-color: white;
    -fx-background-radius: 5em;
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
